<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>My App</span>
  <span class="example-spacer"></span>
  <button mat-raised-button color="accent"[matMenuTriggerFor]="menu" #menuTrigger>Add Meta Data</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="openAddFinancialYearDialog()">Add Financial Year</button>
  <button mat-menu-item (click)="openAddShareCompanyDialog()">Add Share Company</button>
</mat-menu>

<button mat-raised-button color="accent"[matMenuTriggerFor]="get" #menuTrigger>Show Meta Data</button>
<mat-menu #get="matMenu">
  <button mat-menu-item (click)="openShowFinancialYearDialog()">Show Financial Year</button>
  <button mat-menu-item (click)="openShowShareCompanyDialog()">Show Share Company</button>
</mat-menu>
</mat-toolbar>
<app-financial-year-toggle [financialYears]="financialYears" [selectedFinancialYear]="currentFinacialYear"></app-financial-year-toggle>
<app-angular-grid></app-angular-grid>