
.ag-theme-alpine{
    height: 100%;
    width:auto;
    .ag-header{
        width: fit-content;
    }
    .ag-root-wrapper{
        border: none;
    }
    
}

mat-button-toggle-group{
    margin: 1% 0% 1% 5%; 
}

ag-grid-angular{
    margin: 1% 0% 1% 5%;
} 